<%- include( 'templates/header' ,{urlTitle, user} ) %>

    <main>

        <div id="e404">
            <h1>Error <%- error %> </h1>
            <h2> <%- msg %> </h2>
        </div>

    </main>

    <%- include('templates/footer.ejs') %>