<%- include( 'templates/header' ,{urlTitle} ) %>

    <main>
        <h1>Index</h1>

        <section>
            <a href="user/login">Login</a>
            <a href="user/register">Registarte</a>            
        </section>
        

    </main>

    <%- include('templates/footer.ejs') %>