<%- include( 'templates/header' ,{urlTitle,user} ) %>

    <main>

        <section>
            <div class="divIndex">
                <a href="user/verify">Login</a>
                <a href="user/register">Registrate</a>
            </div>
        </section>

    </main>

    <%- include('templates/footer.ejs') %>