<%- include( 'templates/header' ,{urlTitle,user} ) %>

    <main>
        <h1 class="h1Admin">Login</h1>

        <section>
            <div id="divLogin">

                <form action="../user/login" method="POST">
                    <label for="email">Email:</label> 
                    <input type="text" name="email" id="email" value="<%- user %>"a utocomplete="off" autofocus>

                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" autocomplete="off">

                    <% if (error !='' ) { %>
                        <p id="loginError"><%- error %></p>
                    <% } %>

                    <div id="divMsgLogin">
                        <p>¿No tienes una cuenta aún?<a title="Crea una cuenta aquí" href="../user/register"> Regístrate</a></p>
                    </div>

                    <div id="btnsLogin">
                        <button id="btnSubmitLogin" type="submit"><i class="fa-solid fa-right-to-bracket"></i> Ingresar</button>  
                        
                        <a id="btnCancelarLogin" href="/">Cancelar</a>
                    </div>
                    
                    <a id="recoverPass" href="">He olvidado la contraseña</a>
                </form>

            </div>
        </section>

    </main>

    <%- include('templates/footer.ejs') %>