* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: right;
    text-indent: 15px;

    box-shadow: 0 0 10px rgb(137, 137, 138);
}

#h1Main {
    text-decoration: none;
    color: white;
}

.ocultar {
    display: none;
}


/* FOOTER ****************************************** */

footer {
    background-color: black;
    display: flex;
    vertical-align: middle;
    color: white;
    justify-content: center;
    padding: 10px;
    height: 100px;
    box-shadow: 0 0 10px rgb(137, 137, 138);
}

/* FIN FOOTER ************************************** */

/* INDEX ****************************************** */

.divIndex {
    width: 400px;
    height: 300px;
    box-shadow: 0 0 10px 5px black;
    border-radius: 20px;
    margin: 150px auto;
    display: grid;
    align-content: center;
}

.divIndex a {
    display: block;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    background-color: rgb(0, 0, 0);

    box-shadow: 0 0 10px 2px rgb(65, 97, 1);
    color: rgb(255, 255, 255);
    padding: 15px;
    width: 250px;
    font-size: 2em;
}

.divIndex a:hover {
    color: yellowgreen;
}

/* FIN INDEX*************************************** */

/* MENU ******************************************* */


#btnMenu {
    font-size: 2em;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

#divMenu {
    position: absolute;
    width: 200px;
    background-color: black;
    right: 15px;
    padding: 5px;
    box-shadow: 0 0 5px 1px black;

    transform: translate3d(110%, 0px, 0px);
    transition: transform 0.20s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    z-index: 1001;
}

#divMenu.mostrarNav {
    transform: translate3d(0px, 0px, 0px);
}

#navContenedor a {
    padding: 5px;
    display: block;
    text-decoration: none;
    color: white;
}

#navContenedor a:hover {
    background-color: yellowgreen;
    color:black;
}


/* FIN MENU *************************************** */

/* BLOG ****************************************** */

.divSearch {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 5px;
    width: 300px;
    margin: 0 auto;
    font-size: 1.5em;
}

#pMsg {
    padding: 10px;
    margin-left: 10px;
    font-size: 1.6em;
    color: darkolivegreen;
    font-style: italic;
}

#pMsgNoResults {
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    color: darkred;
}

#divNE {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    margin: 15px auto;
    font-size: 1.2em;
}

#h2Name {
    padding: 5px;
    color: darkslategray;
}

#newEntry,
#goBlog {
    border: 1px solid darkslategray;
    border-radius: 15px;
    text-decoration: none;
    color: darkslategray;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 200px;
    display: flex;
    box-shadow: 0 0 5px black;
    cursor: crosshair;
    justify-self: right;
}

#goBlog {
    text-align: center;
    margin: 15px auto;
    cursor: pointer;
}

#newEntry:hover {
    background-color: black;
    color: yellowgreen;
}

i.lupa {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px black;
    margin-left: 5px;
}

.divContainer {
    width: 90%;
    margin: 0 auto 15px;
    border-bottom: 1px dotted black;
    padding: 10px;
}

.secSearch {
    display: block;
    padding: 15px;
    margin: 5px auto;
    text-align: center;
    font-size: 1.5em;
}

.secSearch input {
    text-indent: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 2px groove black;
    width: 250px;
    color: darkslategray;

    font-size: 0.6em;
}

.divContainer img {
    display: block;
    width: 98%;
    height: 300px;
    object-fit: contain;
    border: 1px dotted black;
    border-radius: 15px;
    margin: 10px auto;
}

p.title {
    font-size: 2.5em;
    font-weight: bold;
    color: rgb(68, 68, 68);
    padding: 5px 15px;
}

p.date {
    font-size: 0.7em;
    padding: 0 15px;
    font-style: italic;
    color: darkslategray;
}

a.author {
    padding: 3px 15px;
    color: darkblue;
    text-decoration: none;
}

p.extract {
    font-size: 1.2em;
    font-style: italic;
    color: rgb(51, 0, 0);
    padding: 5px 15px;
}

a.readMore {
    display: inline;
    color: red;
    text-decoration: none;
    padding: 5px 15px;
}

/* FIN BLOG ****************************************** */

/* LOGIN ********************************************* */

#divLogin {
    width: 500px;
    height: 250px;
    margin: 50px auto;
    border: 5px solid black;
}

#divLogin form {
    height: 100%;
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    text-align: right;
    align-items: center;
    padding: 15px;
    background-color: rgb(214, 214, 214);
}

#loginError {
    grid-column: 1 / 3;
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
    color: red;
}

#divLogin label {
    font-size: 1.2em;
    color: darkolivegreen;
}

#divLogin input {
    width: 250px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px black;
    text-indent: 5px;
    color: darkslategray;
}

#btnsLogin {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-content: center;
}

#btnSubmitLogin,
#btnCancelarLogin {
    display: inline-block;
    text-align: center;
    padding: 10px;    
    margin: 30px 5px 10px;
    cursor: pointer;
    text-decoration: none;
    background-color: black;
    border: 1px solid darkcyan;
    border-radius: 5px;
    box-shadow: 0 0 3px darkolivegreen;
    color: white;
    font-size: 1em;
    width: 150px;
}

#btnSubmitLogin:hover,
#btnCancelarLogin:hover {
    color: yellowgreen;
}

#recoverPass {
    grid-column: 1 / 3;
    text-decoration: underline;
    align-self: last baseline;
    color: darkcyan;
    text-align: right;
    text-indent: 5px;
    font-size: 1em;
}

/* FIN LOGIN ***************************************** */

/* REGISTER ****************************************** */

#divRegister {
    width: 500px;
    height: 360px;
    margin: 50px auto;
    border: 5px solid black;
}

#divRegister form {
    height: 100%;
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    text-align: right;
    align-items: center;
    padding: 15px;
    background-color: rgb(214, 214, 214);
}

#divRegister label {
    font-size: 1.2em;
    color: darkolivegreen;
}

#divRegister input {
    width: 250px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px black;
    text-indent: 5px;
    color: darkslategray;
}

#btnSubmitRegister,
#btnCancelarRegister {
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 30px 5px 10px;
    cursor: pointer;
    text-decoration: none;
    background-color: black;
    border: 1px solid darkolivegreen;
    border-radius: 5px;
    box-shadow: 0 0 3px darkolivegreen;
    color: white;
    font-size: 1em;
    width: 160px;
}

#btnSubmitRegister:hover,
#btnCancelarRegister:hover {
    color: yellowgreen;
}

.spnErrorReg {
    grid-column: 1 / 3;
    text-align: right;
    text-indent: 15px;
    font-size: 0.8em;
    color: red;
    padding: 5px;
    font-style: italic;
}

/* FIN REGISTER ************************************** */

/* DETAIL *********************************************/

.divDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
    font-size: 1.2em;
}

#btnEdit {
    justify-self: right;
}

#btnBack {
    justify-self: left;
}

#btnBack,
#btnEdit {
    text-decoration: none;
    color: darkslategray;
    border: 1px ridge black;
    padding: 5px;
    width: 150px;
}

p.content {
    margin: 20px 0;
    line-height: 25px;
    text-align: center;
}

/* FIN DETAIL ******************************************/

/* EDIT ********************************************** */

.h1Admin {
    margin: 10px;
    padding: 15px;
    font-size: 2em;
}

.divEdit {
    width: 90%;
    margin: 30px auto;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    box-shadow: 0 0 15px black;
    border-radius: 15px;
    color: rgb(1, 30, 46);
}

.divEdit input,
.divEdit textarea,
.divEdit label,
.divEdit img,
.divEdit a {
    display: block;
    width: 100%;
    padding: 5px;
    margin: 0 auto;
}

.divEdit label {
    color: darkblue;
}

.divEdit img {
    margin: 10px auto;
    height: 150px;
    object-fit: contain;
    border: 1px dotted black;
}

.spnError {
    font-size: 0.8em;
    color: red;
    padding: 5px;
    font-style: italic;
}

#image {
    background-color: darkslategray;
    color: yellowgreen;
    text-indent: 5px;
}

#name,
#date {
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: black;
}

.btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    justify-content: center;
    margin: 0 auto;
}

#btnCancelar,
#btnSubmit {
    margin: 10px auto;
    cursor: pointer;
    font-size: 1.2em;
    color: black;
    width: 220px;
    height: 35px;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    box-shadow: 0 0 1px 3px rgb(173, 173, 173);
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 15px;

}

#imageFile {
    color: darkslategray;
    margin-bottom: 20px;

}

/* FIN EDIT ****************************************** */